/* You can add global styles to this file, and also import other style files */

html 
    min-height: 100%

body
    display: flex
    align-items: center
    justify-content: center
    background: rgb(175,103,233)
    background: linear-gradient(0deg, rgba(175,103,233,1) 50%, rgba(101,101,231,1) 100%)
    font-family: 'Kumbh Sans', sans-serif
    color: #4A4B5E

