.faq-wrapper
    background-color: #fff
    border: 1px #fff
    border-radius: 50px
    display: flex
    margin: 5em auto
    padding: 5em 2em

.faq-illustration
    width: 50%
    padding: 0 2em 0 0 

.faq-questions-answers 
    width: 50%
    padding: 0 0 0 2em